    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;
        font-family: "montserrat";
        display: flex;
        background-color: #fafafa;
    }
  

    #navigation_bar{
        /* background-color: ; */
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* padding: 20px; */
        width: 20%;
        height: 100%;
        position: sticky;
        top: 0;
        /* background-color: red; */

    }

    #navigation_bar h1{
        font-size: 40px;
        margin-top: 70px;
        font-weight: bold;
        font-family: 'IBM Plex Serif', serif;
        

    }
    #navigation_bar p{
        /* margin-left: 80px; */
        border-bottom: 3px solid #FF4E4E;
        border-radius: 5px;
        margin-top: 50px;
        font-size: 16px;
        cursor: pointer;
        color: grey;
        padding: 2px;

    }

   
    #navigation_bar button{
        padding: 10px 50px;
        border: none;
        background-color: #FF4E4E;
        color: white;
        font-family: "montserrat";
        font-size: 20px;
        /* margin-left: 65px; */
        margin-top:50px ;
        border-radius: 20px;
    }




    .right{
        width: 80%;
        height: 100%;
        margin-top: 13%;
        /* background-color: red; */
    }



    .mycard{
        cursor: pointer;
        background-color:white;
        padding: 30px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0px 3px 20px rgb(85, 84, 84) ;
    }
    .mycard:hover{
        box-shadow: 10px 10px 10px rgb(160, 160, 160);
    }
   
    hr{
        background-color: #FF4E4E;
        border: none;
        height: 2px;
        margin-top: 20px;
        border-radius: 2px;
    }

    .upper{
        display: flex;
        justify-content: space-between;
    
    }
    .upper h1{
        font-size: 70px;
        font-weight:bold;
        
        font-family: 'IBM Plex Serif', serif;
        

    }
    .upper span{
        margin-right: 10%;
        color: grey;
        line-height: 30px;
        font-size: 15px;
        
    }

    .cart{
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        align-items: center;
        flex-flow: wrap;

        /* background-color:blue; */
    }
    .img img{
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin: auto;
        
    }
    .mycard p{
        text-align: center;
        margin-top: 20px;
        font-size: 15px;
        font-weight: bold;
    }
    .mycard .small{
        font-size: 12px;
    }
    .burger{
        margin-left: 10px;
        margin-top: 40px;
        display: none;
    }

    .line1{
        width: 20px;
        height: 3px;
        background-color: red;
        border-radius: 50px;
        
    
    }
    .line2{
        width: 30px;
        height: 3px;
        background-color: red;
        margin-top: 10px;
        border-radius: 50px;

      

    }
    .line3{
        width: 25px;
        height: 3px;
        background-color: red;
        margin-top: 10px;
        border-radius: 50px;

        

    }
    .cartlogo{
        display: none;
    }
    .mobile{
        display: none;
    }
    .mycard2{
        display: block;
    }
    .restro{
        margin-top: 20px;
        font-family: 'IBM Plex Serif', serif;
        font-size: 30px;
        
    }
    a{
        text-decoration: none;
    }
    a p:hover{
        background-color:#FF4E4E ;
        color: white;
    }

    #currentpage{

        background-color: #ff4e4e;

    }
    
    #activelink{
        color: white;
    }











    @media screen and (max-width :1000px) {
        body{
            flex-direction: column;
            background-color: #dadada;
        }
        .burger{
            display: block;
        }
        #navigation_bar{
            position: inherit;
            flex-direction: row;
            justify-content: space-between;
        }
        #navigation_bar p{
            display: none;
        }
        #navigation_bar button{
            display: none;
        }
        #navigation_bar h1 span{
            display: none;
        }
        #navigation_bar h1{
            font-size: 30px;
            margin-top: 30px;
            margin-left: 80px;
            text-align: center;
        }

        .cartlogo{
            display: inline;
            margin-left: 80%;
            margin-top: 50px;
        }
        .upper span{
            display: none;
        }
        .upper h1{
            font-size: 30px;
            font-weight: bold;
            word-spacing: 0px;
            margin-left: 30px;
            margin-top: 30px;
            font-family: 'STIX Two Text', serif;
            
    
        }
        .cart{
            justify-content: center;
            margin-top: 20px;
            
        }
        .mycard{
            background-color: white;
            padding: 13px;
            margin-left: 15px;
            margin-top: 20px;
            border-radius: 20px;
        }
        .mycard p{
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            font-weight: bold;
        }
        .img img{
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin: auto;
            
        }
        .mycard2{
            background-color: red;
            display: none;
        }
        .mobile{
            display: block;
            margin-left:30px ;
            margin-top: 40px;
        }
        .restro{
            margin-top: 20px;
            font-family: 'IBM Plex Serif', serif;
            font-size: 20px;
            margin-left: 30px;
            
        }
       
       
       


        
       
       }

    